body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #b2e1f9, #0b6e61, #012e5e, #8f054c);
    background-size: 600% 600%;
    animation: gradient 25s ease infinite;
    min-height: 50%;
    display: flex;
    flex-direction: column; /* Align content vertically */
    justify-content: flex-start; /* Align the content from the top */
    color: white;
}

#animation-container {
    animation: fadeIn 3s ease-in-out infinite alternate;
    text-align: center;
    margin-top: 10vh; /* Add space from the top for the navbar */
    margin-bottom: 0vh; /* Space below the title */
}
/* Styling for Spline Animation Section */
#spline-animation {
    display: flex;
    justify-content: center;  /* Center the viewer horizontally */
    align-items: center;      /* Center the viewer vertically */
    height: 100vh;            /* Use full viewport height */
    overflow: hidden;
}

#spline-animation spline-viewer {
    width: 100%;               /* Adjust width as needed */
    height: 100%;             /* Fill the container's height */
    max-width: 1000px;        /* Optional: Limit the maximum width */
    max-height: 500px;
    aspect-ratio: 16 / 9;      /* Enforce aspect ratio */
    margin: 0;
}

#tabs-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
}

.tab-button {
    background: none;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: aqua;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 auto;
}

.tab-button:hover {
    background-color: #777;
}

.tab-button:focus {
    background-color: #0048c3;
}
/* Sections */
#sections {
    margin: 10px auto;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.tab-content {
    display: none; /* Hidden by default */
    animation: fadeIn 0.5s ease-in-out;
}

.tab-content.active {
    display: block; /* Show the active tab */
}


/* Animation for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Add responsive media queries */
@media screen and (max-width: 768px) {
    #spline-animation {
        height: auto;          /* Allow flexible height on smaller screens */
        padding: 20px;         /* Add some padding for better visibility */
    }

    #spline-animation spline-viewer {
        max-width: 90%;        /* Shrink the viewer to 90% of the screen width */
        max-height: 80vh;      /* Prevent it from taking up too much vertical space */
    }
}