body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0048c3,  #420034);
    min-height: 100%;
    display: flex;
    flex-direction: column; /* Align content vertically */
    justify-content: flex-start; /* Align the content from the top */
    color: white;
}

#top-nav-bar {
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#top-nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#top-nav-bar ul li {
    margin: 0 20px;
}

#animation-container {
    animation: fadeIn 3s ease-in-out infinite alternate;
    text-align: center;
    margin-top: 10vh; /* Add space from the top for the navbar */
    margin-bottom: 0vh; /* Space below the title */
}
/* Styling for Spline Animation Section */
#spline-animation {
    display: flex;
    justify-content: center;  /* Center the viewer horizontally */
    align-items: center;      /* Center the viewer vertically */
    height: 100vh;            /* Use full viewport height */
}

#spline-animation spline-viewer {
    border: 3px solid white;
    width: 100%;               /* Adjust width as needed */
    height: 100%;             /* Fill the container's height */
    max-width: 1000px;        /* Optional: Limit the maximum width */
    max-height: 500px;
    margin-top: 0vh;
}

#content {
    margin-top: 0vh;
    padding: 20px;
    max-width: 900px; /* Optional: Increase width of content */
}

/* Section Styling */
#about-me {
    background-color: #0a218b;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Animation for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}